<!-- begin #top-menu -->
<div id="top-menu" class="top-menu" >
    <div class="container-fluid">
    <!-- begin top-menu nav -->
    <ul class="nav">
        <li ui-sref-active="active">
            <a ui-sref="app.dashboard.v2">
                <i class="fa fa-cogs" title="Home"></i>
                <span>System</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.PMOUserSummary">
                <i class="fa fa-users" title="PMO"></i>
                <span>PMO</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.home">
                <i class="fa fa-connectdevelop" title="Batches"></i>
                <span>Program</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.database">
                <i class="fa fa-database" title="Database"></i>
                <span>Others</span>
            </a>
        </li>

    </ul>
    <!-- end top-menu nav -->
    </div>
</div>
<!-- end #top-menu -->